{% load i18n %}
<div class="sequence proctored-exam entrance" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Экзамен с подтверждением личности.
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      Для получения диплома или сертификата на этом курсе вы должны пройти экзамен с прокторингом.      
    {% endblocktrans %}
  </p>
  <button class="gated-sequence start-timed-exam" data-ajax-url="{{enter_exam_endpoint}}" data-exam-id="{{exam_id}}" data-attempt-proctored=true data-start-immediately=false>
    {% trans "Продолжить – перейти к сдаче экзамена в режиме подтверждения личности." %}
    <p>
      {% blocktrans %}
        Внимание! Нажимайте на эту ссылку только если вы собираетесь проходить экзамен прямо сейчас. Перед тем, как продолжить, закройте все лишние приложения и настройтесь на продуктивную работу.</br>
      {% endblocktrans %}
    </p>

    <i class="fa fa-arrow-circle-right"></i>
  </button>
</div>
{% include 'proctored_exam/footer.html' %}

