{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Вы не прошли экзамен в отведенное вам время
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      Вы не сможете получить сертификат или удостоверение за этот курс, т.к. не выполнили
      экзамен в отведенное время. Посмотреть результаты прохождения курса вы можете во вкладке
      Прогресс.
    {% endblocktrans %}
  </p>
  <hr>
  <p>
    {% blocktrans %}
      Другие работы, которые вы выполнили в курсе, дают вклад в ваш общий балл.
    {% endblocktrans %}
  </p>
</div>
