{% load i18n %}
<div class="sequence proctored-exam instructions message-left-bar" data-exam-id="{{exam_id}}" data-exam-started-poll-url="{{exam_started_poll_url}}">

  <div class="">
    <h3>
    {% blocktrans %}
      Следуйте этим инструкциям, чтобы приступить к сдаче экзамена
    {% endblocktrans %}
    </h3>
    <p>
      {% blocktrans %}
        Скопируйте уникальный код экзамена и вставьте его в вспециальное поле прокторингового приложения.
      {% endblocktrans %}
    </p>
    <p>
      <span class="proctored-exam-code">{{exam_code}}</span>
    </p>
    <p>
      {% blocktrans %}
        Выделите код экзамена, скопируйте его, нажав Command+C (Mac) или Control+C (Windows).
      {% endblocktrans %}
    </p>
  </div>
</div>
{% include 'proctored_exam/footer.html' %}

<script type="text/javascript">

  var _waiting_for_proctored_interval = null;

  $('.proctored-decline-exam').click(
    function(e) {
      e.preventDefault();
      e.stopPropagation();

      var action_url = $(this).data('change-state-url');
      var exam_id = $(this).data('exam-id');
      var action = $(this).data('action');

      var msg = gettext(
        "Are you sure you want to take this exam without proctoring? " +
        "You will no longer be eligible to use this course for academic credit."
      );
      if (!confirm(msg)) {
        return;
      }

      // Update the state of the attempt
      $.ajax({
        url: action_url,
        type: 'PUT',
        data: {
          action: action
        },
        success: function() {
          // Reloading page will reflect the new state of the attempt
          location.reload();
        }
      });
    }
  );

  $(document).ready(function(){
    _waiting_for_proctored_interval = setInterval(
      poll_exam_started,
      5000
    );
  });

  function poll_exam_started() {
    var url = $('.instructions').data('exam-started-poll-url') + '?sourceid=instructions';
    $.ajax(url).success(function(data){
      if (data.status === 'ready_to_start') {
        if (_waiting_for_proctored_interval != null) {
          clearInterval(_waiting_for_proctored_interval)
        }
        // we've state transitioned, so refresh the page
        // to reflect the new state (which will expose the test)
        location.reload();
      }
    });
  }

  $("#software_download_link").click(function (e) {
    e.preventDefault();
    var url = $('.instructions').data('exam-started-poll-url');
    var action = $(this).data('action');
    // open the new tab in the click event with an empty URL but show the message.
    var newWindow = window.open("", "_blank");
    $(newWindow.document.body).html("<p>Please wait while you are being redirected...</p>");

    var self = this;
    $.ajax({
      url: url,
      type: 'PUT',
      data: {
        action: action
      },
      success: function (data) {
        newWindow.location = "{{software_download_url}}";
      }
    }).fail(function(){
      newWindow.close();
    });
  });

</script>
