{% load i18n %}
<div class="warning sequence proctored-exam entrance" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Этот экзамен с подтверждением личности
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
    Вы не выполнили все требования для этого экзамена.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
    Следующие требования находятся в состоянии <strong>проверки</strong> и должны быть выполнены до начала экзамена:
    {% endblocktrans %}
    <ol style='list-style-type: disc'>
    {% for requirement in prerequisite_status.pending_prerequisites %}
      <li>
        {% if requirement.jumpto_url %}
          <a href='{{requirement.jumpto_url}}'>{{requirement.display_name}}</a>
        {% else %}
          {{requirement.display_name}}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </p>
  <p>
    {% blocktrans %}
    Подробнее о требованиях на вкладке Прогресс.
    {% endblocktrans %}
  </p>


</div>
{% include 'proctored_exam/footer.html' %}
