{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Вы успешно отправили результаты экзамена на проверку.
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      Можете закрыть прокторинговое приложение.
    {% endblocktrans %}
  </p>
  <h4>
    {% blocktrans %}
      Результаты вашего экзамена с подтверждением личности: <b> В процессе проверки</b>
    {% endblocktrans %}
  </h4>
  {% include 'proctored_exam/visit_exam_content.html' %}

  <p>
    {% blocktrans %}После завершения прокторинговой сессии вся записанная информация отправляется на проверку. Результаты обычно становятся доступны в течение 24-48 часов. Если этого не произошло, свяжитесь с нами.{% endblocktrans %}
  </p>
  <hr>
  <p>
    {% blocktrans %}Посмотреть результаты тестов и экзаменов можно во вкладке{% endblocktrans %} {% blocktrans %}Прогресс{% endblocktrans %}
  </p>
</div>
{% include 'proctored_exam/footer.html' %}
