{% load i18n %}
<div class="success sequence proctored-exam passed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Ваша прокторинговая сессия успешно прошла все проверки.
    {% endblocktrans %}
  </h3>

  <h4>
    {% blocktrans %}
      Результат: <b class="success"> Успешно</b>
    {% endblocktrans %}
  </h4>

  <p>
    {% blocktrans %}
      Вы успешно завершили прохождение экзамена в режиме подтверждения личности.
      Вы можете получить соответсвующий диплом или удостоверение за этот курс, если
      вы прошли все экзамены, тестирования и набрали достаточное количество баллов.
    {% endblocktrans %}
  </p>
    {% include 'proctored_exam/visit_exam_content.html' %}
  <hr>
  <p>
    {% blocktrans %}Посмотреть результаты тестов и экзаменов можно во вкладке{% endblocktrans %} <a href="{{progress_page_url}}">{% blocktrans %}Прогресс{% endblocktrans %}</a>
  </p>
</div>
{% include 'proctored_exam/footer.html' %}
